
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    
    
}

/* NAV BAR  */

#header{
    background-color: yellow;
    text-align: center;
    font-size:1.5rem;
    padding:0.3rem;
    margin-bottom: 2.5rem;
    
}

/* NAV BAR OVER */

/* TEXTAREA  */


main{
    margin:1rem auto;
    max-width:600px;
}

#input-text{
    width:100%;
    min-height:20vh;
    display:block;
    font-size: large;
    padding:0.5rem;
    

}

#submit{
    background-color: yellow;
    border-radius: 0.3rem;
    min-height:10vh;
    font-size:larger;
    margin:2rem 0rem;
}

#output-box{
    width:100%;
    min-height:10vh;
    border:1px solid black;
    display: block;
    font-size:large;
    padding:0.5rem;
    overflow: auto;
}


/* text area and translation part over  */

/* footer area  */

#footer{
    background-color: yellow;
    width:100%;
    text-align: center;
    margin-top: 3rem;
    

}

.footer-head{
    font-size:1.7rem;
   
    padding-top:0.5rem;
}

.footer-para{
    padding:0rem 1rem;
    padding-bottom: 2rem;

}

/* footer part over  */